/nbproject
/vendor
/vendor/*
/vendor/composer/autoload_real.php
/vendor/composer/autoload_static.php
/AP-GSB-2023.pdf

# thibaud
/doc_projet
/.vscode

# adrien
/tests/sql
/tests/php
/tests/txt

# rayane
