#gitignore group
/nbproject
/vendor
/AP-GSB-2023.pdf



#gitignore personal
# thibaud
/doc_projet
/.vscode

# adrien
/resources/Outils/clefApi.txt

# rayane
REMBOURSEMENT_FRAIS_202207-VILLECHALANE.docx
resources/bdd/test.sql
