# thibaud
/doc_projet
/.vscode
/AP-GSB-2023.pdf

# adrien
/tests/txt/clear_passwords.txt
/tests/txt/hashed_passwords.txt
/tests/txt/id.txt
/tests/txt/GSB_API_KEY.txt
/tests/php/emailBuilder.php
/vendor
/nbproject

# rayan
